$cWhite: white;
$cBlack: #130d0b;
$cGray-dk: #706966;
$cGray-md: #9f9a98;
$cGray-lt: #ded7d4;
$cTheme: #130d0b;
$cThemeSub: #891a06;
// $cTitle: #535353;
// $cTitleSub: #535353;
$cBgGray: #eaebe6;

$contentMaxWidth: 1070px;
$navHeight: 115px