.appear.up .item {
  transform: translateY(30px);
}

.appear.down .item {
  transform: translateY(-30px);
}

.appear.left .item {
  transform: translateX(40px);
}

.appear.right .item {
  transform: translateX(-40px);
}

.appear .item {
  transition: all 0.8s;
  opacity: 0;
}
.appear.inview .item {
  opacity: 1;
  transform: none;
}
.appear.inview .item:nth-child(1) {
  transition-delay: 0.2s;
}
.appear.inview .item:nth-child(2) {
  transition-delay: 0.4s;
}
.appear.inview .item:nth-child(3) {
  transition-delay: 0.6s;
}
.appear.inview .item:nth-child(4) {
  transition-delay: 0.8s;
}
.appear.inview .item:nth-child(5) {
  transition-delay: 1s;
}
.appear.inview .item:nth-child(6) {
  transition-delay: 1.2s;
}
.appear.inview .item:nth-child(7) {
  transition-delay: 1.4s;
}
.appear.inview .item:nth-child(8) {
  transition-delay: 1.6s;
}
.appear.inview .item:nth-child(9) {
  transition-delay: 1.8s;
}
.appear.inview .item:nth-child(10) {
  transition-delay: 2s;
}

.btn {
  position: relative;
  display: inline-block;
  background-color: white;
  border: 1px solid #0B1013;
  font-weight: 600;
  padding: 10px 40px;
  margin: 10px auto;
  cursor: pointer;
  transition: all 0.3s;
  color: #0B1013;
  text-decoration: none !important;
}
.btn.float:hover {
  background-color: #0B1013;
  color: white;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}
.btn.filled {
  background-color: #0B1013;
  color: white;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}
.btn.filled:hover {
  background-color: white;
  color: #0B1013;
  box-shadow: none;
}
.btn.letter-spacing:hover {
  background-color: #0B1013;
  letter-spacing: 3px;
  color: white;
}
.btn.shadow {
  box-shadow: none;
}
.btn.shadow:hover {
  transform: translate(-2.5px, -2.5px);
  box-shadow: 5px 5px 0 0 #0B1013;
}
.btn.solid {
  box-shadow: 2px 2px 0 0 #0B1013;
  border-radius: 7px;
}
.btn.solid:hover {
  transform: translate(2px, 2px);
  box-shadow: none;
}
.btn.slide-bg {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn.slide-bg::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #0B1013;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s;
  z-index: -1;
}
.btn.slide-bg:hover {
  color: white;
}
.btn.slide-bg:hover::before {
  transform: none;
}
.btn.cover-3d {
  position: relative;
  z-index: 1;
  transform-style: preserve-3d;
  perspective: 300px;
}
.btn.cover-3d span {
  display: inline-block;
  transform: translateZ(20px);
}
.btn.cover-3d::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #0B1013;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateX(90deg);
  transition: all 0.3s;
  transform-origin: top center;
  opacity: 0;
}
.btn.cover-3d:hover {
  color: white;
}
.btn.cover-3d:hover::before {
  transform: none;
  opacity: 1;
}

.btn-cubic {
  position: relative;
  display: inline-block;
  transform-style: preserve-3d;
  perspective: 300px;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  cursor: pointer;
  font-weight: 600;
}
.btn-cubic span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #0B1013;
  box-sizing: border-box;
  line-height: 48px;
  text-align: center;
  transition: all 0.3s;
  transform-origin: center center -25px;
  color: black;
}
.btn-cubic .hovering {
  background-color: #0B1013;
  color: white;
  transform: rotateX(90deg);
}
.btn-cubic .default {
  background-color: white;
  color: #0B1013;
  transform: rotateX(0);
}
.btn-cubic:hover .hovering {
  transform: rotateX(0);
}
.btn-cubic:hover .default {
  transform: rotateX(-90deg);
}

.swiper {
  overflow: visible !important;
}
@media (min-width: 960px) {
  .swiper {
    padding: 15px 0 50px;
  }
}

.swiper-slide {
  height: 500px;
  overflow: hidden;
}
@media (min-width: 960px) {
  .swiper-slide {
    box-shadow: 0 8px 40px -10px rgba(51, 51, 51, 0.8);
  }
}
.swiper-slide > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1.3);
  transition: transform 1.9s ease;
}
.swiper-slide::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 61, 125, 0.1);
}
.swiper-slide-active > img {
  transform: none;
}
.swiper-slide-active > .hero__title {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.hero {
  padding-top: 100px;
  overflow: hidden;
  margin-bottom: 80px;
}
@media (min-width: 960px) {
  .hero {
    margin-bottom: 120px;
  }
}
.hero__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 50px));
  font-size: 100px;
  font-family: "Yuji Boku";
  color: blue;
  opacity: 0;
  transition: opacity 6s ease, transform 1s ease;
  z-index: 2;
}
.hero__footer {
  position: absolute;
  top: calc(100% - 110px);
  left: 50%;
  transform: translate(-50%, 0%);
  width: 20px;
  height: 82px;
  color: #fff;
  overflow: hidden;
  z-index: 2;
}
@media (min-width: 960px) {
  .hero__footer {
    position: absolute;
    top: calc(100% - 160px);
    left: 50%;
    transform: translate(-50%, 0%);
  }
}
.hero__down-allow {
  position: absolute;
  top: 0;
  left: 0;
  width: 7px;
  animation-name: kf-hero-allow-move;
  animation-duration: 2s;
  animation-timing-function: liner;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.hero__scorll-text {
  position: absolute;
  top: 22px;
  left: -6px;
  transform: translate(0, 0);
  font-size: 0.9rem;
  transform: rotate(90deg);
}

@keyframes kf-hero-allow-move {
  0%, 50%, 100% {
    transform: translateY(-10px);
  }
  30% {
    transform: translateY(0);
  }
}
.animate-title,
.gsap-animate-title {
  opacity: 0;
}
.animate-title.inview,
.gsap-animate-title.inview {
  opacity: 1;
}
.animate-title.inview .char,
.gsap-animate-title.inview .char {
  display: inline-block;
}
.animate-title .char,
.gsap-animate-title .char {
  opacity: 0;
}

.cover-slide {
  position: relative;
  overflow: hidden;
}
.cover-slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eaebe6;
  opacity: 0;
  z-index: 2;
}
.cover-slide.inview::after {
  opacity: 1;
  animation-name: kf-cover-slide;
  animation-duration: 1.6s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}

@keyframes kf-cover-slide {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  50% {
    transform: scaleX(1);
    transform-origin: left;
  }
  50.1% {
    transform: scaleX(1);
    transform-origin: right;
  }
  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}
.img-zoom, .bg-img-zoom {
  opacity: 0;
}
.inview .img-zoom, .inview .bg-img-zoom {
  opacity: 1;
  transition: transform 0.3s ease;
  animation-name: kf-image-show;
  animation-duration: 1.6s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
.inview .img-zoom:hover, .inview .bg-img-zoom:hover {
  transform: scale(1.2);
}

@keyframes kf-image-show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.hover-darken::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: background-color 0.3s ease;
  pointer-events: none;
  z-index: 1;
  animation-name: kf-image-show;
  animation-duration: 1.6s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
.hover-darken:hover::before {
  background-color: rgba(0, 0, 0, 0.4);
}

.bg-img-zoom {
  width: 100%;
  aspect-ratio: 2/1;
  background-color: #fff;
  background-image: url("../images/villa-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-clip: border-box;
  color: inherit;
}
.bg-img-zoom.two {
  background-image: url("../images/villa-2.jpg");
}
.bg-img-zoom.three {
  background-image: url("../images/villa-3.jpg");
}
.bg-img-zoom.four {
  background-image: url("../images/villa-4.jpg");
}
.bg-img-zoom.five {
  background-image: url("../images/villa-5.jpg");
}
.bg-img-zoom.six {
  background-image: url("../images/villa-6.jpg");
}

.img-bg50::before {
  content: "";
  position: absolute;
  display: block;
  padding-top: 60%;
}

.mobile-menu {
  position: fixed;
  top: 60px;
  right: 0;
  width: 300px;
  z-index: 1;
}
.mobile-menu .logo {
  display: flex;
  align-items: center;
  font-size: 32px;
  padding-left: 40px;
}
@media (min-width: 600px) {
  .mobile-menu .logo {
    flex-direction: row;
    justify-content: flex-start;
  }
}
.mobile-menu .logo__img {
  width: 0.8em;
}
.mobile-menu .logo__world {
  color: #0B1013;
}
.mobile-menu__main {
  perspective: 2000px;
  transform-style: preserve-3d;
}
.mobile-menu__item {
  transform: translate3d(0, 0, -1000px);
  padding: 0 40px;
  transition: transform 0.3s, opacity 0.2s;
  opacity: 0;
}
.mobile-menu__link {
  display: block;
  width: 100%;
  margin-top: 30px;
  padding: 0 10px;
}
.mobile-menu__link > .main-title {
  color: #0B1013;
}
.mobile-menu__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  cursor: pointer;
}
.mobile-menu__btn {
  display: grid;
  place-content: center;
  row-gap: 10px;
  width: 2rem;
  height: 2rem;
  background-color: unset;
  border: unset;
  border-radius: 10%;
}
@media (min-width: 960px) {
  .mobile-menu__btn {
    display: none;
  }
}
.mobile-menu__btn span {
  width: 2rem;
  height: 2px;
  background-color: #999;
  transition: 0.3s;
}

.menu-open #container {
  box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
  transform: translate(-300px, 60px);
}
.menu-open .mobile-menu__item {
  transform: none;
  opacity: 1;
}
.menu-open .mobile-menu__item:nth-of-type(1) {
  transition-delay: 0.07s;
}
.menu-open .mobile-menu__item:nth-of-type(2) {
  transition-delay: 0.14s;
}
.menu-open .mobile-menu__item:nth-of-type(3) {
  transition-delay: 0.21s;
}
.menu-open .mobile-menu__cover {
  visibility: visible;
  opacity: 1;
  z-index: 100;
}
.menu-open .mobile-menu__btn > span:nth-of-type(1) {
  transform: translateY(12px) rotate(-225deg);
}
.menu-open .mobile-menu__btn > span:nth-of-type(2) {
  transform: translateX(100%);
  opacity: 0;
}
.menu-open .mobile-menu__btn > span:nth-of-type(3) {
  transform: translateY(-12px) rotate(225deg);
}

:root {
  font-size: 100%;
  line-height: 1;
}

body {
  font-family: "Noto Serif JP", serif;
}

.noto-serif-jp {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.noto-serif-jp__R {
  font-weight: 400;
}
.noto-serif-jp__EB {
  font-weight: 800;
}

.cormorant-garamond {
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
}
.cormorant-garamond__R {
  font-weight: 400;
}
.cormorant-garamond__B {
  font-weight: 700;
}

.yuji-boku-regular {
  font-family: "Yuji Boku", serif;
  font-size: 10em;
  font-weight: 400;
  font-style: normal;
}

.mt-sm {
  margin-top: 16px !important;
}

.mb-sm, .travel__img, .houses__title, .popular__title, .sub-title {
  margin-bottom: 16px !important;
}

.mb-lg, .travel, .houses, .popular__btn {
  margin-bottom: 80px !important;
}
@media (min-width: 960px) {
  .mb-lg, .travel, .houses, .popular__btn {
    margin-bottom: 150px !important;
  }
}

.pb-sm, .travel__texts {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}
@media (min-width: 960px) {
  .pb-lg {
    padding-bottom: 150px !important;
  }
}

.content-width, .header__inner, .travel, .houses, .popular__header, .popular__container, .footer .wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1070px;
}

.flex, .header__nav, .header__nav > ul, .travel__inner, .houses__inner, .popular__container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 600px) {
  .flex, .header__nav, .header__nav > ul, .travel__inner, .houses__inner, .popular__container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

#main-content {
  position: relative;
  z-index: 0;
}

.font-sm, .sub-title {
  font-size: 14px;
}
@media (min-width: 960px) {
  .font-sm, .sub-title {
    font-size: 16px;
  }
}

.font-md, .popular__title {
  font-size: 17px;
}
@media (min-width: 960px) {
  .font-md, .popular__title {
    font-size: 19px;
  }
}

.font-lg, .houses__title {
  font-size: 17px;
}
@media (min-width: 960px) {
  .font-lg, .houses__title {
    font-size: 23px;
  }
}

.font-lg, .main-title {
  font-size: 25px;
}
@media (min-width: 960px) {
  .font-lg, .main-title {
    font-size: 36px;
  }
}

.main-title {
  font-weight: 600;
  margin-bottom: 0;
  display: block;
}

.sub-title {
  color: #0B1013;
}

@media (min-width: 960px) {
  .mq-swich {
    display: none !important;
  }
}

#container {
  position: relative;
  background-color: white;
  transition: 0.5s;
  z-index: 50;
}

#main-content {
  position: relative;
  z-index: 0;
}
#main-content main {
  position: relative;
  z-index: -1;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 100;
}
.header.triggered {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 25px -10px #0b1013;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}
@media (min-width: 600px) {
  .header .logo {
    flex-direction: row;
    justify-content: flex-start;
    font-size: 42px;
  }
}
.header .logo__img {
  width: 0.8em;
}
.header .logo__world {
  color: #0B1013;
}
.header__nav {
  text-align: center;
  justify-content: space-between;
  align-items: center;
  display: none;
}
@media (min-width: 960px) {
  .header__nav {
    display: block;
  }
}
.header__nav > ul {
  gap: 20px;
  margin: 10px 0 20px;
}
@media (min-width: 600px) {
  .header__nav > ul {
    flex-direction: row;
    gap: 30px;
    align-items: center;
  }
}
.header__nav > ul > li > a {
  color: #0B1013;
  text-transform: uppercase;
}

.travel__inner {
  position: relative;
  z-index: 0;
  justify-content: space-between;
  padding: 15px;
  background-color: #eaebe6;
}
@media (min-width: 600px) {
  .travel__inner {
    padding: 50px;
  }
}
@media (min-width: 1280px) {
  .travel__inner {
    padding: 50px 150px;
  }
}
.travel__img {
  height: 300px;
  transition: box-shadow 1s ease 2.2s;
}
@media (min-width: 600px) {
  .travel__img {
    flex-basis: 47%;
  }
}
@media (min-width: 960px) {
  .travel__img {
    height: 400px;
  }
}
.travel__img.inview {
  box-shadow: inset 0 0 30px #0B1013;
}
.travel__img > img {
  opacity: 1;
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 600px) {
  .travel__texts {
    display: flex;
    align-items: flex-end;
    flex-basis: 47%;
  }
}
.travel__texts.inview .travel__title::before {
  animation-name: scaleX;
  animation-duration: 0.8s;
  animation-timing-function: ease;
  animation-delay: 1.6s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.travel__title {
  position: relative;
}
.travel__title::before {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -120px;
  content: "";
  width: 100px;
  height: 1px;
  background-color: #0B1013;
  transform: scaleX(0);
  z-index: 2;
  transform-origin: right;
}
@media (min-width: 960px) {
  .travel__title::before {
    display: block;
  }
}
@media (min-width: 960px) {
  .travel__description {
    margin-bottom: 40px;
  }
}

@keyframes scaleX {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 600px) and (min-width: 600px) {
  .houses__item {
    flex-basis: 50%;
    margin-bottom: 20px;
  }
}
@media (min-width: 600px) and (min-width: 960px) {
  .houses__item {
    margin-bottom: 60px;
  }
}
.houses__btn {
  text-align: center;
  flex-basis: 100%;
}

.popular__inner {
  position: relative;
  z-index: 2;
}
.popular__inner::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background-color: #eaebe6;
}
.popular__container {
  position: relative;
  z-index: 2;
}
@media (min-width: 600px) {
  .popular__container {
    justify-content: space-between;
  }
}
@media (min-width: 600px) {
  .popular__item {
    flex-basis: 47%;
  }
}
@media (min-width: 960px) {
  .popular__item {
    flex-basis: 25%;
  }
}
@media (min-width: 1280px) {
  .popular__item {
    flex-basis: 23%;
  }
}
.popular__img {
  height: 150px;
  margin-bottom: 5px;
}
@media (min-width: 960px) {
  .popular__img {
    height: 335px;
  }
}
.popular__img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.popular__btn {
  text-align: center;
  flex-basis: 100%;
}

.side {
  position: fixed;
  top: 70%;
  transform: translateY(-50%);
  transition: all ease 0.5s;
  visibility: hidden;
  opacity: 0;
}
@media (min-width: 1280px) {
  .side.inview {
    visibility: visible;
    opacity: 1;
  }
  .side.inview.left {
    left: 50px;
  }
  .side.inview.right {
    right: 50px;
  }
}
.side .animate-title {
  position: relative;
  vertical-align: middle;
  letter-spacing: 2px;
  color: #0B1013;
}
.side.left {
  left: -50px;
}
.side.left .side__inner {
  transform: rotate(-90deg);
  transform-origin: top left;
}
.side.left .side__inner .animate-title:not(:first-of-type) {
  margin-left: 80px;
}
.side.right {
  right: -50px;
}
.side.right .side__inner {
  transform: rotate(90deg);
  transform-origin: top right;
}

.icon {
  position: relative;
}
.icon::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -22px;
  width: 1em;
  height: 1em;
  content: "";
  color: #0B1013;
}
.icon.facebook::before {
  background-color: #fff;
  background-image: url("../images/facebook.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-clip: border-box;
  color: inherit;
}
.icon.twitter::before {
  background-color: #fff;
  background-image: url("../images/twitter.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-clip: border-box;
  color: inherit;
}

.footer {
  color: white;
  background-color: #0B1013;
  text-align: center;
}
.footer .wrapper {
  padding: 60px 0;
}
.footer .wrapper > div + div {
  margin-top: 20px;
}
.footer .logo {
  width: 60%;
  margin: 0 auto;
}
@media (min-width: 600px) {
  .footer .logo {
    width: 55%;
  }
}
@media (min-width: 960px) {
  .footer .logo {
    width: 30%;
  }
}
.footer .logo__org-name {
  width: 100%;
  height: 100%;
}
.footer__nav > ul {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.footer__nav > ul:nth-of-type(2) {
  gap: 30px;
  margin-top: 25px;
}
.footer__address {
  line-height: 1.7;
}
.footer__icon {
  display: inline-block;
  width: 25px;
  height: 20px;
  background-color: unset;
  background-image: url("");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-clip: border-box;
  color: inherit;
}
.footer__icon.twitter {
  background-color: #fff;
  background-image: url("../images/twitter-white.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-clip: border-box;
  color: inherit;
}
.footer__icon.instagram {
  background-color: #fff;
  background-image: url("../images/instagram-white.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-clip: border-box;
  color: inherit;
}
.footer__icon.youtube {
  background-color: #fff;
  background-image: url("../images/youtube-white.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-clip: border-box;
  color: inherit;
}/*# sourceMappingURL=style.css.map */