$pattern: (
  "up": translateY(50px),
  "down": translateY(-50px),
  "left": translateX(50px),
  "right": translateX(-50px),
);

@each $key, $value in $pattern {
  .appear.#{$key} {
    & .item {
      transform: $value;
    }
  }
}

.appear {
  & .item {
    transition: all 0.8s;
    opacity: 0;
  }
  &.inview {
    & .item {
      opacity: 1;
      transform: translate(0, 0);

      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          transition-delay: $i * 0.2s;
        }
      }
    }
  }
}
