@use "../globals" as *;

:root {
  font-size: 100%;
  line-height: 1;
  scroll-behavior: smooth;
}


body {
  // ページのheaderにリンクを貼って、CSSでフォントファミリーを指定する。
  // フォント・スタックで記述すること。順に探していく仕様。
  font-family: "Noto Serif JP", serif;
}

h2 {
  @extend .mb-md;
  padding-bottom: 1em;
  text-align: center;
  @extend .font-lg;
  letter-spacing: .25em;
  border-bottom: 1px solid $cGray-lt;

}

.noto-serif-jp {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-style: normal;
  &__R {
    font-weight: 400;
  }
  &__EB {
    font-weight: 800;
  }
}

.cormorant-garamond {
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  &.reg {
    font-weight: 400;
  }
  &.bld {
    font-weight: 700;
  }
}

.yuji-boku-regular {
  font-family: "Yuji Boku", serif;
  font-weight: 400;
  font-style: normal;
}


// margin, padding
.mt-sm {
  margin-top: 16px !important;
}

.mb-sm {
  margin-bottom: 16px !important;
}

.mb-md {
  margin-bottom: 32px !important;
}

.mb-lg {
  margin-bottom: 64px !important;
  @include mq(lg) {
    margin-bottom: 120px !important;
  }
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
  @include mq(lg) {
    padding-bottom: 150px !important;
  }
}

.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}

.flex {
  display: flex;
  flex-direction: column;
  @include mq(md) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

#main-content {
  position: relative;
  z-index: 0;
}

// font
.font-ft {
  font-size: 12px;
  @include mq(lg) {
    font-size: 14px;
  }
}
.font-sm {
  font-size: 14px;
  @include mq(lg) {
    font-size: 16px;
  }
}
.font-md {
  font-size: 20px;
  @include mq(lg) {
    font-size: 23px;
  }
}
.font-lg {
  font-size: 24px;
  @include mq(lg) {
    font-size: 27px;
  }
}
.font-ex {
  font-size: 28px;
  @include mq(lg) {
    font-size: 36px;
  }
}

.main-title {
  @extend .font-lg;
  font-weight: 600;
  margin-bottom: 0;
  display: block;
}

.sub-title {
  @extend .font-sm;
  @extend .mb-sm;
  color: $cTheme;
}

.mq-swich {
  @include mq(lg) {
    display: none !important;
  }
}

.twitter {
  @include bg($size: contain, $image: "../images/twitter-white.svg");
  &.black-icon {
    @include bg($size: contain, $image: "../images/twitter-blk.svg");
  }
}

.instagram {
  @include bg($size: contain, $image: "../images/instagram-white.svg");
  &.black-icon {
    @include bg($size: contain, $image: "../images/instagram-blk.svg");
  }
}

.youtube {
  @include bg($size: contain, $image: "../images/youtube-white.svg");
  &.black-icon {
    @include bg($size: contain, $image: "../images/youtube-blk.svg");
  }
}