.appear.up .item {
  transform: translateY(50px);
}

.appear.down .item {
  transform: translateY(-50px);
}

.appear.left .item {
  transform: translateX(50px);
}

.appear.right .item {
  transform: translateX(-50px);
}

.appear .item {
  transition: all 0.8s;
  opacity: 0;
}
.appear.inview .item {
  opacity: 1;
  transform: translate(0, 0);
}
.appear.inview .item:nth-child(1) {
  transition-delay: 0.2s;
}
.appear.inview .item:nth-child(2) {
  transition-delay: 0.4s;
}
.appear.inview .item:nth-child(3) {
  transition-delay: 0.6s;
}
.appear.inview .item:nth-child(4) {
  transition-delay: 0.8s;
}
.appear.inview .item:nth-child(5) {
  transition-delay: 1s;
}
.appear.inview .item:nth-child(6) {
  transition-delay: 1.2s;
}
.appear.inview .item:nth-child(7) {
  transition-delay: 1.4s;
}
.appear.inview .item:nth-child(8) {
  transition-delay: 1.6s;
}
.appear.inview .item:nth-child(9) {
  transition-delay: 1.8s;
}
.appear.inview .item:nth-child(10) {
  transition-delay: 2s;
}

.btn {
  position: relative;
  display: inline-block;
  background-color: white;
  border: 1px solid #130d0b;
  font-weight: 600;
  padding: 10px 40px;
  margin: 10px auto;
  cursor: pointer;
  transition: all 0.3s;
  color: #130d0b;
  text-decoration: none !important;
}
.btn.float:hover {
  background-color: #130d0b;
  color: white;
  box-shadow: 5px 5px 10px 0 #130d0b;
}
.btn.filled {
  background-color: #130d0b;
  color: white;
  box-shadow: 5px 5px 10px 0 #130d0b;
}
.btn.filled:hover {
  color: white;
  background-color: #891a06;
  box-shadow: none;
}
.btn.letter-spacing:hover {
  background-color: #130d0b;
  letter-spacing: 3px;
  color: white;
}
.btn.shadow {
  box-shadow: none;
}
.btn.shadow:hover {
  transform: translate(-2.5px, -2.5px);
  box-shadow: 5px 5px 0 0 #130d0b;
}
.btn.solid {
  box-shadow: 2px 2px 0 0 #130d0b;
  border-radius: 7px;
}
.btn.solid:hover {
  transform: translate(2px, 2px);
  box-shadow: none;
}
.btn.slide-bg {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn.slide-bg::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #891a06;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s;
  z-index: -1;
}
.btn.slide-bg:hover {
  color: white;
}
.btn.slide-bg:hover::before {
  transform: none;
}
.btn.cover-3d {
  position: relative;
  z-index: 1;
  transform-style: preserve-3d;
  perspective: 300px;
}
.btn.cover-3d span {
  display: inline-block;
  transform: translateZ(20px);
}
.btn.cover-3d::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #130d0b;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateX(90deg);
  transition: all 0.3s;
  transform-origin: top center;
  opacity: 0;
}
.btn.cover-3d:hover {
  color: white;
}
.btn.cover-3d:hover::before {
  transform: none;
  opacity: 1;
}

.btn-cubic {
  position: relative;
  display: inline-block;
  transform-style: preserve-3d;
  perspective: 300px;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  cursor: pointer;
  font-weight: 600;
}
.btn-cubic span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #130d0b;
  box-sizing: border-box;
  line-height: 48px;
  text-align: center;
  transition: all 0.3s;
  transform-origin: center center -25px;
  color: black;
}
.btn-cubic .hovering {
  background-color: #130d0b;
  color: white;
  transform: rotateX(90deg);
}
.btn-cubic .default {
  background-color: white;
  color: #130d0b;
  transform: rotateX(0);
}
.btn-cubic:hover .hovering {
  transform: rotateX(0);
}
.btn-cubic:hover .default {
  transform: rotateX(-90deg);
}

.swiper {
  overflow: visible !important;
}
@media (min-width: 960px) {
  .swiper {
    padding: 20px 0 50px;
  }
}

.swiper-slide {
  height: 500px;
  overflow: hidden;
}
@media (min-width: 960px) {
  .swiper-slide {
    box-shadow: 0 8px 40px -10px rgba(51, 51, 51, 0.8);
  }
}
.swiper-slide > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(2.5);
  transition: transform 5s ease;
}
.swiper-slide::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 61, 125, 0.1);
}
.swiper-slide-active > img {
  transform: none;
}
.swiper-slide-active > .hero__title {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.hero {
  padding-top: 115px;
  overflow: hidden;
  margin-bottom: 80px;
}
@media (min-width: 960px) {
  .hero {
    margin-bottom: 120px;
  }
}
.hero__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 50px));
  font-size: 40px;
  font-family: "Yuji Boku";
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 5px 10px #130d0b;
  opacity: 0;
  transition: opacity 6s ease, transform 1s ease;
  z-index: 2;
}
.hero__footer {
  position: absolute;
  top: calc(100% - 110px);
  left: 50%;
  transform: translate(-50%, 0%);
  width: 20px;
  height: 82px;
  color: #fff;
  overflow: hidden;
  z-index: 2;
}
@media (min-width: 960px) {
  .hero__footer {
    position: absolute;
    top: calc(100% - 160px);
    left: 50%;
    transform: translate(-50%, 0%);
  }
}
.hero__down-allow {
  position: absolute;
  top: 0;
  left: 0;
  width: 7px;
  animation-name: kf-hero-allow-move;
  animation-duration: 2s;
  animation-timing-function: liner;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.hero__scorll-text {
  position: absolute;
  top: 22px;
  left: -6px;
  transform: translate(0, 0);
  font-size: 0.9rem;
  transform: rotate(90deg);
}

@keyframes kf-hero-allow-move {
  0%, 50%, 100% {
    transform: translateY(-10px);
  }
  30% {
    transform: translateY(0);
  }
}
.animate-title,
.gsap-animate-title {
  opacity: 0;
}
.animate-title.inview,
.gsap-animate-title.inview {
  opacity: 1;
}
.animate-title.inview .char,
.gsap-animate-title.inview .char {
  display: inline-block;
}
.animate-title .char,
.gsap-animate-title .char {
  opacity: 0;
}

.cover-slide {
  position: relative;
  overflow: hidden;
}
.cover-slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eaebe6;
  opacity: 0;
  z-index: 2;
}
.cover-slide.inview::after {
  opacity: 1;
  animation-name: kf-cover-slide;
  animation-duration: 1.6s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}

@keyframes kf-cover-slide {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  50% {
    transform: scaleX(1);
    transform-origin: left;
  }
  50.1% {
    transform: scaleX(1);
    transform-origin: right;
  }
  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}
.img-zoom, .bg-img-zoom {
  opacity: 0;
}
.inview .img-zoom, .inview .bg-img-zoom {
  opacity: 1;
  transition: transform 0.3s ease;
  animation-name: kf-image-show;
  animation-duration: 1.6s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
.inview .img-zoom:hover, .inview .bg-img-zoom:hover {
  transform: scale(1.2);
}

@keyframes kf-image-show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.hover-darken::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: background-color 0.3s ease;
  pointer-events: none;
  z-index: 1;
  animation-name: kf-image-show;
  animation-duration: 1.6s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
.hover-darken:hover::before {
  background-color: rgba(0, 0, 0, 0.4);
}

.bg-img-zoom {
  width: 100%;
  aspect-ratio: 2/1;
  background-color: transparent;
  background-image: url("../images/villa-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-clip: border-box;
  color: inherit;
}
.bg-img-zoom.two {
  background-image: url("../images/villa-2.jpg");
}
.bg-img-zoom.three {
  background-image: url("../images/villa-3.jpg");
}
.bg-img-zoom.four {
  background-image: url("../images/villa-4.jpg");
}
.bg-img-zoom.five {
  background-image: url("../images/villa-5.jpg");
}
.bg-img-zoom.six {
  background-image: url("../images/villa-6.jpg");
}

.img-bg50::before {
  content: "";
  position: absolute;
  display: block;
  padding-top: 60%;
}

.mobile-menu {
  position: fixed;
  top: 60px;
  right: 0;
  width: 300px;
  padding-left: 25px;
  z-index: 1;
}
.mobile-menu .logo {
  display: flex;
  align-items: center;
}
@media (min-width: 600px) {
  .mobile-menu .logo {
    flex-direction: row;
    justify-content: flex-start;
  }
}
.mobile-menu .logo__img {
  width: 150px;
}
.mobile-menu .logo__world {
  color: #130d0b;
}
.mobile-menu__main {
  perspective: 2000px;
  transform-style: preserve-3d;
}
.mobile-menu__item {
  transform: translate3d(0, 0, -1000px);
  padding: 0 40px;
  transition: transform 0.3s, opacity 0.2s;
  opacity: 0;
}
.mobile-menu__link {
  display: block;
  width: 100%;
  margin-top: 30px;
  padding: 0 10px;
}
.mobile-menu__link > .main-title {
  color: #130d0b;
}
.mobile-menu__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  cursor: pointer;
}
.mobile-menu__btn {
  display: grid;
  place-content: center;
  row-gap: 10px;
  width: 2rem;
  height: 2rem;
  background-color: unset;
  border: unset;
  border-radius: 10%;
}
@media (min-width: 960px) {
  .mobile-menu__btn {
    display: none;
  }
}
.mobile-menu__btn span {
  width: 2rem;
  height: 2px;
  background-color: #999;
  transition: 0.3s;
}

.menu-open #container {
  box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
  transform: translate(-300px, 60px);
}
.menu-open .mobile-menu__item {
  transform: none;
  opacity: 1;
}
.menu-open .mobile-menu__item:nth-of-type(1) {
  transition-delay: 0.07s;
}
.menu-open .mobile-menu__item:nth-of-type(2) {
  transition-delay: 0.14s;
}
.menu-open .mobile-menu__item:nth-of-type(3) {
  transition-delay: 0.21s;
}
.menu-open .mobile-menu__cover {
  visibility: visible;
  opacity: 1;
  z-index: 100;
}
.menu-open .mobile-menu__btn > span:nth-of-type(1) {
  transform: translateY(12px) rotate(-225deg);
}
.menu-open .mobile-menu__btn > span:nth-of-type(2) {
  transform: translateX(100%);
  opacity: 0;
}
.menu-open .mobile-menu__btn > span:nth-of-type(3) {
  transform: translateY(-12px) rotate(225deg);
}

:root {
  font-size: 100%;
  line-height: 1;
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Serif JP", serif;
}

h2 {
  padding-bottom: 1em;
  text-align: center;
  letter-spacing: 0.25em;
  border-bottom: 1px solid #ded7d4;
}

.noto-serif-jp {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.noto-serif-jp__R {
  font-weight: 400;
}
.noto-serif-jp__EB {
  font-weight: 800;
}

.cormorant-garamond {
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
}
.cormorant-garamond.reg {
  font-weight: 400;
}
.cormorant-garamond.bld {
  font-weight: 700;
}

.yuji-boku-regular {
  font-family: "Yuji Boku", serif;
  font-weight: 400;
  font-style: normal;
}

.mt-sm {
  margin-top: 16px !important;
}

.mb-sm, .houses__title, .sub-title {
  margin-bottom: 16px !important;
}

.mb-md, .openning__whats-new, h2 {
  margin-bottom: 32px !important;
}

.mb-lg, .openning, .houses, .information, .to-content, .sns {
  margin-bottom: 64px !important;
}
@media (min-width: 960px) {
  .mb-lg, .openning, .houses, .information, .to-content, .sns {
    margin-bottom: 120px !important;
  }
}

.pb-sm, .header__inner {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}
@media (min-width: 960px) {
  .pb-lg {
    padding-bottom: 150px !important;
  }
}

.content-width, .header__inner, .openning__inner, .houses, .information__inner, .to-content__inner, .footer .wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1070px;
}

.flex, .openning__inner, .houses__inner, .information__inner, .information__businesshours-fee-traffic, .to-content__inner, .sns > ul {
  display: flex;
  flex-direction: column;
}
@media (min-width: 600px) {
  .flex, .openning__inner, .houses__inner, .information__inner, .information__businesshours-fee-traffic, .to-content__inner, .sns > ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

#main-content {
  position: relative;
  z-index: 0;
}

.font-ft {
  font-size: 12px;
}
@media (min-width: 960px) {
  .font-ft {
    font-size: 14px;
  }
}

.font-sm, .sub-title {
  font-size: 14px;
}
@media (min-width: 960px) {
  .font-sm, .sub-title {
    font-size: 16px;
  }
}

.font-md {
  font-size: 20px;
}
@media (min-width: 960px) {
  .font-md {
    font-size: 23px;
  }
}

.font-lg, .houses__title, .main-title, h2 {
  font-size: 24px;
}
@media (min-width: 960px) {
  .font-lg, .houses__title, .main-title, h2 {
    font-size: 27px;
  }
}

.font-ex {
  font-size: 28px;
}
@media (min-width: 960px) {
  .font-ex {
    font-size: 36px;
  }
}

.main-title {
  font-weight: 600;
  margin-bottom: 0;
  display: block;
}

.sub-title {
  color: #130d0b;
}

@media (min-width: 960px) {
  .mq-swich {
    display: none !important;
  }
}

.twitter {
  background-color: transparent;
  background-image: url("../images/twitter-white.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-clip: border-box;
  color: inherit;
}
.twitter.black-icon {
  background-color: transparent;
  background-image: url("../images/twitter-blk.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-clip: border-box;
  color: inherit;
}

.instagram {
  background-color: transparent;
  background-image: url("../images/instagram-white.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-clip: border-box;
  color: inherit;
}
.instagram.black-icon {
  background-color: transparent;
  background-image: url("../images/instagram-blk.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-clip: border-box;
  color: inherit;
}

.youtube {
  background-color: transparent;
  background-image: url("../images/youtube-white.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-clip: border-box;
  color: inherit;
}
.youtube.black-icon {
  background-color: transparent;
  background-image: url("../images/youtube-blk.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-clip: border-box;
  color: inherit;
}

#container {
  position: relative;
  background-color: transparent;
  background-image: url("../images/bg-pattern.jpg");
  background-size: auto;
  background-position: center;
  background-repeat: repeat;
  background-attachment: scroll;
  background-clip: border-box;
  color: inherit;
  transition: 0.5s;
  z-index: 50;
}

#main-content {
  position: relative;
  z-index: 0;
}
#main-content main {
  position: relative;
  z-index: -1;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 115px;
  z-index: 100;
  transition: 1s;
}
.header.triggered {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 25px -10px #130d0b;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header .logo {
  width: 200px;
  height: 50px;
}
.header .logo__org-name {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__nav {
  display: none;
}
@media (min-width: 960px) {
  .header__nav {
    display: flex;
    flex-direction: column;
  }
}
.header__main-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
.header__main-link > a {
  display: inline-block;
  padding: 10px;
}
.header__main-link > a.btn {
  padding: 5px 10px;
  font-size: 0.75em;
  box-shadow: 2px 2px 4px rgba(19, 13, 11, 0.6);
  border-radius: 20px;
}
.header__sub-nav {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -2.25em);
  width: 80%;
  text-align: center;
}
@media (min-width: 1280px) {
  .header__sub-nav {
    width: 60%;
  }
}
.header__sub-title {
  flex-basis: 16%;
}
.header__sub-title dt {
  font-size: 1.1em;
}
.header__sub-title:hover > .header__sub-link {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}
.header__sub-title:hover > .header__sub-link:nth-child(1) {
  transition-delay: 0.1s;
}
.header__sub-title:hover > .header__sub-link:nth-child(2) {
  transition-delay: 0.2s;
}
.header__sub-title:hover > .header__sub-link:nth-child(3) {
  transition-delay: 0.3s;
}
.header__sub-title:hover > .header__sub-link:nth-child(4) {
  transition-delay: 0.4s;
}
.header__sub-title:hover > .header__sub-link:nth-child(5) {
  transition-delay: 0.5s;
}
.header__sub-link {
  margin-top: 7px;
  padding: 7px 0;
  font-size: 0.7rem;
  line-height: 1.25;
  color: white;
  background-color: rgba(137, 26, 6, 0.4);
  transform: translateY(-20px);
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
}
.header__sub-link:hover {
  background-color: rgba(137, 26, 6, 0.8);
}

.openning__inner {
  justify-content: space-between;
}
.openning__whats-new {
  flex-basis: 35%;
}
@media (min-width: 960px) {
  .openning__whats-new {
    flex-basis: 45%;
  }
}
.openning__whats-new ul {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.openning__news:not(:first-of-type) {
  margin-top: 0.75em;
}
.openning__news .date {
  margin-bottom: 0.25em;
  font-weight: 900;
  color: #891a06;
}
.openning__news .title {
  line-height: 1.5;
}
.openning__btn {
  display: block;
  margin-top: 20px;
  border: 1px solid #9f9a98;
  border-radius: 30px;
}
.openning__movie {
  position: relative;
  aspect-ratio: 4/3;
  flex-basis: 60%;
}
@media (min-width: 960px) {
  .openning__movie {
    flex-basis: 55%;
  }
}
.openning__youtube {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

@media (min-width: 600px) and (min-width: 600px) {
  .houses__item {
    flex-basis: 50%;
    margin-bottom: 20px;
  }
}
@media (min-width: 600px) and (min-width: 960px) {
  .houses__item {
    margin-bottom: 60px;
  }
}
.houses__btn {
  text-align: center;
  flex-basis: 100%;
}

.information {
  padding: 3em 0;
  background-color: rgba(19, 13, 11, 0.2);
}
.information h2 {
  border-bottom: 1px solid #9f9a98;
}
.information__inner {
  justify-content: center;
  gap: 30px;
}
.information__point {
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #9f9a98;
}
.information__point .temple-name {
  margin-bottom: 0.5em;
  font-size: 1.2em;
}
.information__point .claim > span {
  display: block;
  line-height: 1.7;
}
@media (min-width: 960px) {
  .information__point .claim > span {
    display: inline;
  }
  .information__point .claim > span + span {
    margin-left: 2em;
  }
}
.information__businesshours-fee-traffic {
  padding: 0 1em;
  font-size: 0.8em;
  line-height: 1.4;
}
@media (min-width: 600px) {
  .information__businesshours-fee-traffic {
    justify-content: center;
  }
}
.information__item {
  display: flex;
  gap: 1em;
}
.information__item + .information__item {
  margin-top: 0.5em;
}
@media (min-width: 600px) {
  .information__item {
    justify-content: center;
  }
}
.information__item > dt {
  font-weight: 900;
  flex-basis: 32%;
  -moz-text-align-last: justify;
       text-align-last: justify;
}
@media (min-width: 600px) {
  .information__item > dt {
    flex-basis: unset;
    width: 8em;
  }
}
.information__item > dd {
  flex-basis: calc(68% - 1em);
}
@media (min-width: 600px) {
  .information__item > dd {
    flex-basis: unset;
    width: 300px;
  }
}
.information__item.traffic {
  margin-top: 0.5em;
}
@media (min-width: 960px) {
  .information__item.traffic {
    margin-top: 0;
  }
}
.information__item.traffic .item + .item {
  margin-top: 0.5em;
}
.information__btn {
  display: block;
  margin-top: 30px;
  border: 1px solid #9f9a98;
  border-radius: 30px;
}
@media (min-width: 960px) {
  .information__btn {
    margin-top: 0;
  }
}
.information__address-tel {
  font-size: 0.8em;
  line-height: 1.5;
  text-align: center;
}
.information__address-tel > .tel > a {
  font-size: 1.5em;
  letter-spacing: 0.05em;
}

.to-content {
  overflow: hidden;
}
.to-content__inner {
  justify-content: center;
  gap: 0;
}
@media (min-width: 600px) {
  .to-content__inner {
    width: 100%;
  }
}
.to-content__item {
  position: relative;
  aspect-ratio: 3/1.5;
  display: flex;
}
@media (min-width: 600px) {
  .to-content__item {
    flex-basis: 47%;
    aspect-ratio: 3/2;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 960px) {
  .to-content__item {
    flex-basis: 33.3%;
    aspect-ratio: 4/3;
  }
}
.to-content__item.how {
  background-color: transparent;
  background-image: url("../images/to-content-01.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-clip: border-box;
  color: inherit;
}
.to-content__item.insight {
  background-color: transparent;
  background-image: url("../images/to-content-02.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-clip: border-box;
  color: inherit;
}
.to-content__item.round {
  background-color: transparent;
  background-image: url("../images/to-content-03.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-clip: border-box;
  color: inherit;
}
.to-content__item.rival {
  background-color: transparent;
  background-image: url("../images/to-content-05.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-clip: border-box;
  color: inherit;
}
.to-content__item.hope {
  background-color: transparent;
  background-image: url("../images/to-content-08.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-clip: border-box;
  color: inherit;
}
.to-content__item.gather {
  background-color: transparent;
  background-image: url("../images/to-content-06.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-clip: border-box;
  color: inherit;
}
.to-content__item::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(19, 13, 11, 0.5);
}
.to-content__cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 2;
  color: white;
  background-color: rgba(19, 13, 11, 0.5);
  border: 1px solid white;
  transform: scaleX(0.95) scaleY(0.9);
  transition: 0.5s;
}
@media (min-width: 600px) {
  .to-content__cover {
    transform: scaleX(0.93) scaleY(0.9);
  }
}
.to-content__cover:hover {
  border: 1px solid transparent;
  transform: scale(1);
}
.to-content__catch {
  font-size: 1.3em;
}
.to-content__anchor {
  display: block;
  transition: 0.5s;
}
.to-content__anchor:hover {
  color: rgba(255, 255, 255, 0.6);
  transform: scale(1.08);
  line-height: 2;
}

.sns {
  margin: 0 auto;
}
.sns > ul {
  width: 100%;
}
@media (min-width: 600px) {
  .sns > ul {
    justify-content: center;
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 10px;
  }
}
.sns__inner {
  width: 90%;
}
.sns__channel {
  font-size: 0.875rem;
  margin: 0 auto;
}
.sns__channel + .sns__channel {
  margin-top: 10px;
}
@media (min-width: 600px) {
  .sns__channel + .sns__channel {
    margin-top: 0px;
  }
}
@media (min-width: 600px) {
  .sns__channel {
    margin: 0;
  }
}
.sns__anchor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  padding: 1em 0;
  letter-spacing: 0.1em;
  background-color: white;
  border: 1px solid #ded7d4;
  border-radius: 25px;
}
.sns__anchor > span {
  display: inline-block;
  width: 22px;
  height: 17px;
  margin-right: 0.3em;
}

.footer {
  font-size: 0.725rem;
  text-align: center;
  color: white;
  background-color: rgba(19, 13, 11, 0.85);
}
.footer .wrapper {
  padding: 60px 0;
}
.footer .wrapper > div + div {
  margin-top: 20px;
}
.footer .logo {
  width: 200px;
  margin: 0 auto;
}
@media (min-width: 600px) {
  .footer .logo {
    width: 225px;
  }
}
@media (min-width: 960px) {
  .footer .logo {
    width: 250px;
  }
}
.footer .logo__org-name {
  width: 100%;
  height: 100%;
}
.footer__nav > ul {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.footer__nav > ul:nth-of-type(2) {
  gap: 30px;
  margin-top: 25px;
}
.footer__address {
  line-height: 1.7;
}
.footer__icon {
  display: inline-block;
  width: 25px;
  height: 20px;
}/*# sourceMappingURL=style.css.map */